.article {
  padding: 0.75rem;
  border-bottom: 1px solid var(--bg-300);
  animation: article 0.5s ease;

  &:hover {
    background: var(--bg-200);
  }

  &--highlight {
    background: var(--bg-200);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
  }

  &__picture {
    width: 48px;
    height: 48px;
    background-color: var(--bg-200);
    background-size: cover;
    border-radius: 50%;
  }

  &__date {
    color: var(--clr-300);
  }

  // &__body {
  //   word-wrap: break-word;
  //   white-space: pre-wrap;
  //   // não seria isso que causa o bug dos 18px? ou por estar dentro de um article
  // }
}
