.chat {
  &__username {
    font-size: 1.125rem;
  }

  &__body {
    flex-grow: 1;
    overflow: auto;
    padding: 0.75rem;
  }

  &__footer {
    display: flex;
    padding: 0 1rem;
    background: var(--bg-200);
    border-top: 1px solid var(--bg-300);
  }

  &__textarea {
    flex-grow: 1;
    padding: 1rem 0;
  }
}
