.chats {
  &__chat {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid var(--bg-300);
    animation: chats__chat 0.5s ease;
  }

  &__last-message {
    color: var(--clr-300);
  }

  &__date {
    color: var(--clr-300);
  }
}

@keyframes chats__chat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
