.chat {
  &__username {
    font-size: 1.125rem;
  }

  &__body {
    flex-grow: 1;
    overflow: auto;
    padding: 0.75rem;
  }
}

.message {
  --padding-x: 10px;
  --padding-y: 6px;
  --time-width: 36px;

  position: relative;
  width: fit-content;
  max-width: 90%;
  padding: var(--padding-y) var(--padding-x);
  background: #0f766e;
  border-radius: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  &--from-me {
    margin-left: auto;
    background: var(--bg-200);
  }

  &__content {
    word-break: break-word;
    white-space: pre-wrap;

    &::after {
      content: "";
      display: inline-block;
      width: calc(var(--padding-x) + var(--time-width));
    }
  }

  &__time {
    position: absolute;
    bottom: var(--padding-y);
    right: var(--padding-x);
    font: 0.75rem "Source Code Pro", monospace;
    color: var(--clr-300);
  }
}
