.message {
  --padding-x: 10px;
  --padding-y: 6px;
  --time-width: 36px;
  position: relative;
  width: fit-content;
  max-width: 90%;
  padding: var(--padding-y) var(--padding-x);
  background: #0f766e;
  border-radius: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  &--from-me {
    margin-left: auto;
    background: var(--bg-200);
  }

  &__content {
    word-break: break-word;
    white-space: pre-wrap;
    margin-right: calc(var(--time-width) + var(--padding-x));
  }

  &__time {
    position: absolute;
    right: var(--padding-x);
    bottom: var(--padding-y);
    font: 0.75rem "Source Code Pro", monospace;
    color: var(--clr-300);
  }
}
