.flex-page {
  // Used in Feed, Post, NewPost and Settings
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  gap: 0.875rem;
  padding: 0.875rem;
  background: #0f766e;
  color: white;
  font-size: 1.5rem;

  img {
    filter: invert(1);
    cursor: pointer;
  }

  &__grow {
    flex-grow: 1;
  }
}

.feed__body {
  overflow: auto;
}

.post {
  &__body {
    flex-grow: 1;
    overflow: auto;
  }

  &__footer {
    display: flex;
    padding: 0 1rem;
    background: var(--bg-200);
    border-top: 1px solid var(--bg-300);
  }

  &__textarea {
    flex-grow: 1;
    padding: 1rem 0;
    background: none;
    color: inherit;
    border: none;
    resize: none;
  }

  &__send {
    filter: invert(1);
    cursor: pointer;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.new-post {
  &__send--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__textarea {
    flex-grow: 1;
    padding: 1rem;
    background: var(--bg-200);
    color: inherit;
    border: none;
    resize: none;
  }
}

/*
Possíveis causas do bug dos 18px:

- align-items stretch do flex-page
- webkit-font-size-adjust
- Estilos article__body
- Elemento Article
*/

.btn {
  min-width: 16rem;
  padding: 0.5rem 0.75rem;
  background: none;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--primary {
    background: #0f766e;

    &:hover {
      background: #115e59;
    }
  }

  &--danger {
    padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
    border: 1px solid #991b1b;

    &:hover {
      border: 1px solid #b91c1c;
    }
  }
}

.share__heart {
  display: inline;
  filter: invert(1);
  vertical-align: middle;
}
