.top-bar {
  display: flex;
  gap: 0.875rem;
  padding: 0.875rem;
  background: #0f766e;
  color: white;
  font-size: 1.5rem;

  img {
    filter: invert(1);
    cursor: pointer;
  }

  &__grow {
    flex-grow: 1;
  }
}
